{% extends "BoxerBundle::layout.html.twig" %}

{% block Title %}{{gym.name}}{% endblock %}
    
{% block body %}
    <div class="w-75 mx-auto mt-3">
        <a href="{{ path('gym_homepage') }}">Home</a>
        <form class="border border-light p-5" action={{ path('gym_update', {'id':gym.id}) }} method="POST">

            <p class="h4 mb-4 text-center">Make sure all your Gym new and adress are correct</p>

            <div class="w-50 m-auto">
                <label for="textInput">Name</label>
                <input type="text" id="name" name="name" class="form-control mb-4" value="{{gym.name}}" required>

                <label for="addressInput">Address</label>
                <input type="text" id="address" name="address" class="form-control mb-4" value="{{gym.address}}" required>

                <div class="text-center">
                    <button class="btn btn-link my-4">
                        <a href={{ path('gym_delete', {'id':gym.id}) }} class="red-text">Delete Gym</a>
                    </button>
                </div>
                <button class="btn btn-success btn-block my-4" type="submit">Save Updates</button>
            </div>
        </form>
    </div>

{% endblock %}
